services:
  fed-mgr:
    image: harbor.cloud.infn.it/datacloud-middleware/fed-mgr:PR-18-python3.12
    container_name: fed-mgr
    restart: unless-stopped
    depends_on:
      - db
      - opa
    ports:
      - 8000:80
    environment:
      DB_URL: mysql+pymysql://fed-mgr:changeit@fed-mgr-db:3306/fed-mgr
      AUTHN_MODE: local
      AUTHZ_MODE: opa 
    networks:
      - fed-mgr-net

  db:
    image: mysql:8
    container_name: fed-mgr-db
    restart: unless-stopped
    ports:
      - 3306:3306
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: changeit
      MYSQL_DATABASE: fed_mgr
      MYSQL_USER: fed-mgr
      MYSQL_PASSWORD: changeit
    networks:
      - fed-mgr-net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p${MYSQL_ROOT_PASSWORD:-changeit}", "--silent"]
      interval: 5s
      timeout: 5s
      retries: 50

  opa:
    image: openpolicyagent/opa
    container_name: opa
    ports:
      - 8181:8181
    volumes:
      - ../opa/data:/fed_mgr:ro
    command: run --server --log-level debug --addr 0.0.0.0:8181 /fed_mgr

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://host.docker.internal:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 1
    ports:
      - 9092:9092
    networks:
      - fed-mgr-net

networks:
  fed-mgr-net:

volumes:
  db-data:
